.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.backboard {
  display: flex;
  flex: ;
  flex-wrap: ;
}

.board {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  width: 272px;
  height: 288px;
  background-color: #aaa;
}

.number {
  width: 30px;
  height: 30px;
  background: url('../../assets_images/icons.png') no-repeat;
  border: solid 1px #fff;
}

.stone {
  width: 32px;
  height: 32px;
  background-color: #ccc;
  border: outset 5px #ddd;
}
